.navbar-fixed-top {
    position: absolute;
}

.ant-anchor-link-title:only-child {
    margin-bottom: 0;
}

.ant-layout, .ant-layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ant-anchor-link-title {
    padding: 15px;
    font-size: 45px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    overflow: hidden;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all .3s;
    transition: all .3s;
   
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: black;
    text-decoration: underline;
    transition-duration: 600ms;
}

.ant-anchor {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: rgba(0,0,0,.65);
    font-size: 20px;
    font-variant: tabular-nums;
    line-height: 2;
    list-style: none;
    padding: 0 0 0 2px;
}

@media only screen and (max-width: 480px) {
    anchor {
    display:none;
    }
  }